sudo: required
services:
  - docker

before_install:
  - docker build -f Dockerfile.dev -t alex/docker-react .

script:
  - docker run -e CI=true alex/docker-react npm run test -- --coverage

language: generic 

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker-react"
  env: "DockerReact-env"
  bucket_name: "elasticbeanstalk-us-east-1-253854735652"
  bucket_path: "docker-react"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    SECURE: "$AWS_SECRET_KEY"
